@import "srcery_css.css";

body {
    background-color: var(--black) ;
    color: var(--white);
}

a:link {
    color: var(--red);
}

a:visited {
    color: var(--green);
}
a:hover {
    color: var(--brightred);
}
a:active {
    color: var(--brightgreen);
}